* {
    box-sizing: border-box;
    background: #1abc9c;
  }

  .heading {
    padding: 60px;
    text-align: center;
    /* background: #1abc9c; */
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
  }

  /* Style the search field */
  .product-name {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  .submit-button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #0B666A;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  .submit-button:hover {
    background: #35A29F;
  }
  
  /* Clear floats */
  .product-form::after {
    content: "";
    clear: both;
    display: table;
  }